@import '../base/common.scss';
#home-page {
  @include pageLayout;
  header {
    @include alignRow;
    justify-content: space-between;
    margin: 10px 0px;
    div {
      height: 20px;
      display: inline-flex;
      justify-content: space-between;
      box-sizing: border-box;
      span {
        margin: 0px 5px;
      }
    }
  }
  main {
    @include mainLayout;
    section {
      input {
        @include input;
      }
    }
    #question-wrapper {
      margin: 0px 30px;
    }
    #answer-wrapper {
      margin: 0px 30px;
    }
    #play-wrapper {
      margin: 0px 70px;
    }
    #info-msg-wrapper {
      margin: 0px 30px;
      height: 20px;
    }
    button {
      @include button;
    }
    button.active {
      @include active;
    }
    button:disabled {
      @include disabledButton;
    }
  }
}
