@import '../base/mixin';
#result-page {
  @include pageLayout;
  header {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
  }
  main {
    @include mainLayout;
    #score-wrapper {
      margin: 0px 30px;
    }
    #time-taken-wrapper {
      margin: 0px 30px;
    }
    #play-wrapper {
      margin: 0px 70px;
    }
    button {
      @include button;
    }
    button:disabled {
      @include disabledButton;
    }
  }
}
